@import "mixins";

.button-test {
  @include border-radius(5px);
  display: block;
  background-color: $primary-color;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.button-test-2 {
    @include border-radius(5px);
    display: block;
    background-color: $secondary-color;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
  
    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }
