.list {
    background-color: $tertiary-color;
    font-family: $font-stack;
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
  
      li {
        display: block;
  
        p {
          text-decoration: none;
          color: white;
          padding: 10px 20px;
  
          &:hover {
            background-color: $secondary-color;
          }
        }
      }
    }
  }